[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/bullet"]
	path = dependencies/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "dependencies/entt"]
	path = dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "dependencies/raknet"]
	path = dependencies/raknet
	url = https://github.com/facebookarchive/RakNet.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "pcil"]
	path = dependencies/pcil
	url = https://github.com/prowolf/pcil.git
[submodule "bigg"]
	path = dependencies/bigg
	url = https://github.com/prowolf/bigg.git
