[submodule "dependencies/bigg"]
	path = dependencies/bigg
	url = https://github.com/JoshuaBrookover/bigg.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
